<div class="absolute inset-0 bg-slate-800 flex justify-center items-center">
  <!-- card -->
  <div class="rounded-md shadow bg-white border border-gray-200 p-3 w-full mx-4 sm:w-[320px] sm:m-0 overflow-hidden">
    <div @fadeInLeft>
      <h1 class="text-lg text-center font-semibold px-4 py-2">Ethereal Starter</h1>
      <p class="px-4 leading-loose tracking-wider">
        Using Tailwind CSS <code>v3.0</code>, Angular <code>v13.1</code> and @angular/material <code>v13.1</code>.
      </p>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
