<div class="absolute inset-0 flex items-center justify-center bg-slate-800">
  <!-- card -->
  <div
    class="rounded-md shadow bg-white border border-gray-200 p-3 w-full mx-4 sm:w-[320px] sm:m-0 overflow-hidden"
  >
    <div @fadeInLeft>
      <h1 class="px-4 py-2 text-lg font-semibold text-center">
        Ethereal Starter
      </h1>
      <p class="px-4 leading-loose tracking-wider">
        Using Tailwind CSS <code>v3.0</code>, Angular <code>v13.1</code> and
        @angular/material <code>v13.1</code>.
      </p>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
